@{
    ViewData["Title"] = "存取頁面遭拒絕";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="text-center">
        <div style="margin-top:300px;" class="error mx-auto" data-text="存取該頁面遭拒絕">存取該頁面遭拒絕</div>
        <p class="lead text-gray-800 mb-5">請確認您的權限!</p>
        <a class="btn btn-primary" href="@Url.Action("Index", "Home")">回到首頁</a>
    </div>
</div>
<!-- /.container-fluid -->